body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f5f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    margin-top: 2%;
    text-align: center;
    background: rgba(241, 238, 235, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}
h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000000;
}
.cta-button {
    background-color: #d35400;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
    border: none;
    cursor: pointer;
}
.cta-button:hover {
    background-color: #a04000;
    transform: scale(1.1);
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #d35400;
    color: white;
}